In [3]:
import numpy as np
import pandas as pd

df=pd.read_csv("./survey_results_public.csv")

print(f"{len(df)} - rows, {df.shape[1]} - columns")
print(df.shape)

19102 - rows, 154 - columns
(19102, 154)

In [4]:
print("How to find non-null columns")

How to find non-null columns

In [5]:
print("Drop rows - give row label(s) - axis=0")
df.drop(0,axis=0).head(3)

Drop rows - give row label(s) - axis=0

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN

In [6]:
df.drop([1,2],axis=0).head(3)

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print("Drop Columns- give column label(s),axis=1")
df.drop(['Respondent','Professional'],axis=1).head(2)

Drop Columns- give column label(s),axis=1

,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,CompanyType,YearsProgram,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,NaN,2 to 3 years,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,"Privately-held limited company, not in startup...",9 to 10 years,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0

In [8]:
print("simple technique. axis=0 means columns remain same, rows get reduced(either mean/sum or rows get deleted in case of dropna")
print("simple technique. axis=1 means rows remain same, columns get reduced(either mean/sum or columns get deleted in case of dropna")

print("Drop na rows with any NaN column ,axis=0 => traverse downward and then traverse side ward - rowwise")
print("Drop na rows with specified NaN column ,axis=0 => traverse downward, if you find NaN,drop that row  ")
df.dropna(axis=0).shape

simple technique. axis=0 means columns remain same, rows get reduced(either mean/sum or rows get deleted in case of dropna
simple technique. axis=1 means rows remain same, columns get reduced(either mean/sum or columns get deleted in case of dropna
Drop na rows with any NaN column ,axis=0 => traverse downward and then traverse side ward - rowwise
Drop na rows with specified NaN column ,axis=0 => traverse downward, if you find NaN,drop that row

(0, 154)

In [9]:
print("Drop na rows with specified NaN column ,axis=0 => traverse downward and then traverse side ward - rowwise")
print("Drop na rows with specified NaN column ,axis=0 => traverse downward, if you find NaN,drop that row  ")
print("Drops only rows where Salary column in null")

df.dropna(axis=0,subset=['Salary']).shape

Drop na rows with specified NaN column ,axis=0 => traverse downward and then traverse side ward - rowwise
Drop na rows with specified NaN column ,axis=0 => traverse downward, if you find NaN,drop that row
Drops only rows where Salary column in null

(5009, 154)

In [10]:
print("Drop na columns , axis=1 , traverse side wards and then traverse downward")
print("Prints all non-non columns")
df.dropna(axis=1).info()

Drop na columns , axis=1 , traverse side wards and then traverse downward
Prints all non-non columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19102 entries, 0 to 19101
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Respondent        19102 non-null  int64
 1   Professional      19102 non-null  object
 2   ProgramHobby      19102 non-null  object
 3   Country           19102 non-null  object
 4   University        19102 non-null  object
 5   EmploymentStatus  19102 non-null  object
 6   FormalEducation   19102 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [11]:
print("Drops all NaN columns")
df.dropna(axis=1).columns

Drops all NaN columns

Index(['Respondent', 'Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation'],
      dtype='object')

In [12]:
print("you cannot drop a specific NaN column. only all NaN columns")
df.dropna(subset=['Salary'],axis=1)

you cannot drop a specific NaN column. only all NaN columns

KeyError: ['Salary']

In [41]:
df.dropna(how="any",axis=1).columns

Index(['Respondent', 'Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation'],
      dtype='object')

In [42]:
df.dropna(how="all",axis=1).columns ## Columns with All NaN values

Index(['Respondent', 'Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation', 'MajorUndergrad', 'HomeRemote',
       'CompanySize',
       ...
       'StackOverflowMakeMoney', 'Gender', 'HighestEducationParents', 'Race',
       'SurveyLong', 'QuestionsInteresting', 'QuestionsConfusing',
       'InterestedAnswers', 'Salary', 'ExpectedSalary'],
      dtype='object', length=154)

In [23]:
# Drop any column if row labels 0,1,2 have NaN in that column
df.dropna(subset=[0,1,2],axis=1).shape

(19102, 49)

In [20]:
df.dropna(axis=1).shape

(19102, 7)

In [24]:
#default how =any
df.dropna(how="all",axis=1).shape

(19102, 154)