### Timestamp.timestamp -> A universal specific point in time - epoch/unix time -> time elapsed since 1970
### Datetime -> Wall Clock time -> can be the time in a timezone such as UTC, IST, GMT,EST etc

In [ ]:
from datetime import datetime
datetime.utcnow().strftime("%Y-%m-%dT%H:%M:%S.%fZ")

In [3]:
import pandas as pd
df=pd.DataFrame()
df['date'] = ['2023-10-03','2023-10-04']
df

         date
0  2023-10-03
1  2023-10-04

In [7]:
df.date.astype('datetime64[ns]')

0   2023-10-03
1   2023-10-04
Name: date, dtype: datetime64[ns]

In [10]:
print('Specify UTC =true, to convert mixed timezones to UTC')
pd.to_datetime(df.date,utc=True)

Specify UTC =true, to convert mixed timezones to UTC

0   2023-10-03 00:00:00+00:00
1   2023-10-04 00:00:00+00:00
Name: date, dtype: datetime64[ns, UTC]

## use pd.to_datetime for converting a series/vector of values
## use pd.TimeStamp for converting a scalar

In [16]:
pd.Timestamp(df.date[0]),pd.Timestamp(df.date[0]).date(),\
pd.Timestamp(df.date[0]).date().month

(Timestamp('2023-10-03 00:00:00'), datetime.date(2023, 10, 3), 10)

### epoch/unix time -> time elapsed since 1970

In [18]:
pd.Timestamp(df.date[0]).timestamp()

1696291200.0